body {
  background-color: lightgray;
}

.jumbotron {
  background-color: deeppink;
  color: white;
}

.card-header {
  background-color: deeppink;
}

.card-title {
  color: white;
}

.card {
  border-color: deeppink;
  width: 300px;
}

.col {
  flex-grow: 0;
}
